.Programacion {
  background-color: #red;
}

.Ingles {
  background-color: #blue;
}

.Entornos {
  background-color: #yelow;
}

.Base {
  background-color: #purple;
}

.Sistemas {
  background-color: #FF00FF;
}

.Itinerario {
  background-color: #00FFFF;
}

.Lenguaje {
  background-color: #F06CE9;
}

.Proyecto {
  background-color: #6CF0C2;
}
